<template>
  <div>
    <tool-bar>
      <el-button
        type="primary"
        icon="el-icon-plus"
        size="small"
        @click="$emit('add')"
        v-if="visibleButtons.indexOf('N')!==-1"
      >{{$t('common.add')}}</el-button>
      <el-button
        type="success"
        icon="el-icon-edit"
        size="small"
        @click="$emit('edit')"
        v-if="visibleButtons.indexOf('M')!==-1"
      >{{$t('common.edit')}}</el-button>
      <el-button
        type="primary"
        icon="el-icon-delete"
        size="small"
        @click="$emit('delete')"
        v-if="visibleButtons.indexOf('D')!==-1"
      >{{$t('common.delete')}}</el-button>
      <div style="float: right" v-if="visibleButtons.indexOf('S')!==-1">
        <el-input
          :placeholder="$t('common.keyword')"
          size="small"
          style="width: 140px"
          v-model="toolbar.keyword"
          clearable
        ></el-input>
        <el-button
          @click="$emit('search',toolbar.keyword)"
          type="primary"
          icon="el-icon-search"
          size="small"
        ></el-button>
      </div>
      <el-button
        style="margin-left:10px"
        type="primary"
        icon="el-icon-download"
        size="small"
        @click="$emit('_export')"
        v-if="visibleButtons.indexOf('E')!==-1"
      >{{$t('common.export')}}</el-button>
    </tool-bar>
    <slot></slot>
  </div>
</template>
<script>
import ToolBar from "@/components/ToolBar";
export default {
  name: "GenericList",
  props: {
    visibleButtons: {
      type: String,
      required: true
    }
  },
  components: { ToolBar },
  data() {
    return {
      toolbar: {
        keyword: ""
      }
    };
  }
};
</script>
<style lang="scss" scoped>
</style>


