<!--物料品牌-->
<template>
  <div>
    <GenericList
      visibleButtons="NMSDE"
      @add="add"
      @edit="edit"
      @delete="del"
      @_export="exportToFile"
      @search="search"
    >
      <el-table
        v-loading="listLoading"
        :data="list"
        element-loading-text="Loading"
        border
        fit
        highlight-current-row
      >
        <el-table-column align="center" :label="$t('common.rowIndex')">
          <template slot-scope="scope">{{ scope.$index+1 }}</template>
        </el-table-column>
        <el-table-column align="center" :label="$t('common.name')">
          <template slot-scope="scope">{{ scope.row.name }}</template>
        </el-table-column>
        <el-table-column align="center" :label="$t('material.code')">
          <template slot-scope="scope">{{ scope.row.code }}</template>
        </el-table-column>
      </el-table>
    </GenericList>
    <GenericEdit :visible="editDialogVisible" :title="$t('material.brandEdit')" width="45%" @ok='edit_ok' @cancel='edit_cancel'>
      <el-form :model="form" ref="form" :rules="rules">
        <el-form-item :label="$t('material.name')">
          <el-input v-model="form.name" ref="name"></el-input>
        </el-form-item>
        <el-form-item :label="$t('material.code')">
          <el-input v-model="form.code" ref="brandCode"></el-input>
        </el-form-item>
      </el-form>
    </GenericEdit>
  </div>
</template>

<script>
import GenericList from "@/components/GenericList";
import GenericEdit from "@/components/GenericEdit";
import * as api from '@/api/brand.js'

export default {
  components: { GenericList, GenericEdit },
  data() {
    return {
      form: {
        name: "",
        code: ""
      },
      list: null,
      listLoading: true,
      editDialogVisible: false,
      rules:[]
    };
  },
  created() {
    this.getData();
  },
  methods: {
    getData() {
      this.listLoading = true;
      api.search({}).then(resp=>{
        this.list = resp.data.items
      });
      this.listLoading = false;
    },
    add() {
      this.editDialogVisible = true;
    },
    del(){},
    edit() {},
    exportToFile(){},
    search(keyword){

    },
    edit_cancel() {
      this.editDialogVisible = false;
    },
    edit_ok() {
      this.editDialogVisible = false;
    }
  }
};
</script>

