<template>
  <div>
    <el-dialog :title="title" :visible.sync="visible" :width="width">
      <slot></slot>
      <div slot="footer" class="dialog-footer">
        <el-button @click="$emit('cancel')">{{$t('common.cancel')}}</el-button>
        <el-button type="primary" :loading="btnLoading" @click="$emit('ok')">{{$t('common.ok')}}</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import ToolBar from "@/components/ToolBar";
export default {
  name: "GenericEdit",
  props: {
    title: String,
    visible: Boolean,
    width: String,
    btnLoading: Boolean,
    currentRow: [Object,Boolean]
  },
  components: { ToolBar }
};
</script>
<style lang="scss" scoped>
</style>


